@import 'mo/common';

$collapse__extra: #{$collapse}__extra;
$split_pane_visible: #{$split}__pane__item--visible;

#{$collapse} {
    background-color: var(--sideBar-background);
    color: var(--sideBar-foreground);
    height: 100%;

    &:focus-within {
        #{$collapse__extra} {
            opacity: 1;
        }
    }

    &__pane {
        &--collapsing {
            transition: top ease-in-out 0.2s, height ease-in-out 0.2s;
        }

        &:not(#{$split_pane_visible} ~ #{$split_pane_visible}) {
            #{$collapse}__header {
                border-top: 0;
            }
        }
    }

    &__item {
        display: flex;
        flex-direction: column;
        height: 100%;
        line-height: 22px;
        overflow: hidden;
        width: 100%;

        &:hover {
            #{$collapse__extra} {
                opacity: 1;
            }
        }
    }

    &__header {
        align-items: center;
        border-top: 1px solid var(--sideBarSectionHeader-border);
        box-sizing: border-box;
        cursor: pointer;
        display: flex;
        font-size: 11px;
        font-weight: bold;
        height: 25px;
        outline: none;
        outline: 1px solid transparent;
        outline-offset: -1px;
        padding: 1px 2px;
        user-select: none;

        &:focus {
            outline-color: var(--list-focusOutline);
        }

        &__title {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }

    &__extra {
        margin: 0 0 0 auto;
        opacity: 0;

        #{$actionBar}__label.codicon {
            height: inherit;
            line-height: inherit;
        }
    }

    &__content {
        flex: 1;
        outline: 1px solid transparent;
        outline-offset: -1px;

        &:focus {
            outline-color: var(--list-focusOutline);
        }
    }
}
