@import 'mo/style/common';
$Input: 'input';

#{prefix($Input)} {
    background-color: rgb(60, 60, 60);
    border: 1px solid transparent;
    color: rgb(204, 204, 204);
    display: inline-block;
    font-size: 13px;
    min-width: 0;
    padding: 4px 11px;
    position: relative;
    transition: all 0.3s;
    width: calc(100% - 16px);

    &-textarea {
        &--show-count::after {
            color: rgba(0, 0, 0, 0.45);
            content: attr(data-count);
            display: block;
            text-align: right;
        }
    }
}
