@import 'mo/style/common';

#{$panel} {
    display: flex;
    height: 100%;
    position: relative;
    width: 100%;

    &__header,
    &__tabs,
    &__toolbar {
        display: flex;
    }

    &__header {
        border-color: inherit;
        border-top-style: solid;
        border-top-width: 1px;
        flex-direction: row;
        height: 35px;
        justify-content: space-between;
        padding: 0 8px;
        width: 100%;

        #{$tabs} {
            background: inherit;
            border: 0;
            flex-grow: 1;
        }

        #{$tab}__item {
            background: inherit;
            border: 0;
            font-size: 11px;
            padding: 0 10px;
            text-transform: uppercase;
        }
    }

    &__container {
        border: 1px solid transparent;
        bottom: 0;
        box-sizing: border-box;
        left: 0;
        position: absolute;
        right: 0;
        top: 35px;
        width: 100%;

        &:focus {
            border-color: var(--list-focusOutline);
        }
    }

    &__toolbar {
        min-width: 60px;
    }
}
