@import 'mo/style/common';
$btn: 'btn';

#{prefix($btn)} {
    align-items: center;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    justify-content: center;
    margin: 10px;
    outline-offset: 2px;
    text-align: center;
    width: 100%;

    &.normal {
        padding: 4px;
    }

    &.large {
        font-size: 16px;
        padding: 8px;
    }

    &.disabled {
        cursor: not-allowed;
    }

    &:hover {
        opacity: 0.9;
    }
}
