@import 'mo/style/common';

#{$btn} {
    align-items: center;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    justify-content: center;
    margin: 4px 5px;
    outline-offset: 2px;
    padding: 4px 10px;
    text-align: center;

    &--normal {
        padding: 4px 15px;
    }

    &--large {
        font-size: 16px;
        padding: 8px 15px;
    }

    &--disabled {
        cursor: not-allowed;
    }

    &:hover {
        opacity: 0.9;
    }
}
