@import 'mo/style/common';
$menu: 'menu';
$subMenu: 'sub-menu';
$menuItem: 'menu-item';

#{prefix($menu)} {
    display: flex;
    list-style: none;
    margin: 0;
    min-width: 200px;
    padding: 0;

    &.vertical {
        flex-direction: column;
        padding: 0.5em 0;

        #{prefix($menuItem)} {
            min-width: 120px;
        }

        .menu-item-indicator {
            &.codicon::before {
                margin-left: auto;
                margin-right: -20px;
            }
        }
    }

    &.horizontal {
        flex-direction: row;

        #{prefix($menuItem)} {
            min-width: 120px;
        }
    }

    .menu-item-container {
        align-items: center;
        cursor: default;
        display: flex;
        flex: 1 1 auto;
        font-size: inherit;
        height: 2em;
        position: relative;
        transition: transform 50ms ease;

        .menu-item-check {
            font-size: inherit;
            height: 100%;
            height: 100%;
            position: absolute;
            width: 2em;
        }

        .codicon {
            align-items: center;
            display: flex;
            justify-content: center;
        }
    }

    .menu-item-indicator {
        padding: 0 1.8em;

        &.codicon {
            align-items: center;
            display: flex;
            font-size: 16px;
        }
    }

    .menu-item-label {
        align-items: center;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 16px;
        flex: auto;
        font-size: inherit;
        justify-content: center;
        padding: 0 2em;
        text-decoration: none;
    }
}

#{prefix($menuItem)} {
    font-size: 13px;
}

#{prefix($subMenu)} {
    display: block;
    font-size: 13px;
    position: fixed;
    // transition-delay: 0.2s; Bug
    z-index: 1;
}
