@import 'mo/style/common';

#{$menu},
#{$subMenu} {
    font-size: 13px;
}

#{$menu} {
    display: flex;
    list-style: none;
    margin: 0;
    min-width: 200px;
    padding: 0;

    &--vertical {
        flex-direction: column;
        padding: 0.5em 0;

        #{$menu}__item--indicator {
            &.codicon::before {
                margin-left: auto;
                margin-right: -20px;
            }
        }
    }

    &--horizontal {
        flex-direction: row;
    }

    &__item {
        min-width: 120px;
    }

    &__content {
        align-items: center;
        cursor: default;
        display: flex;
        flex: 1 1 auto;
        font-size: inherit;
        height: 2em;
        position: relative;
        transition: transform 50ms ease;

        .codicon {
            align-items: center;
            display: flex;
            justify-content: center;
        }
    }

    &__label {
        align-items: center;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 16px;
        flex: auto;
        font-size: inherit;
        justify-content: center;
        padding: 0 2em;
        text-decoration: none;
    }

    &__check {
        font-size: inherit;
        height: 100%;
        position: absolute;
        width: 2em;
    }

    &__indicator {
        padding: 0 1.8em;

        &.codicon {
            align-items: center;
            display: flex;
            font-size: 16px;
        }
    }

    &__separator {
        height: 1px;
        width: 100%;
    }
}

#{$subMenu} {
    display: block;
    position: fixed;
    z-index: 1;
}
