@import '../../classNames/style.scss';

$actionBar: prefix('actionBar');
$container: BEMElement($actionBar, 'container');

.#{$container} {
    color: var(--foreground);
    height: 100%;
    align-items: center;
    display: flex;
    padding: 0;
    font-size: 0;
    line-height: 0;

    &:empty {
        width: 0;
        height: 0;
    }
}

:export {
    container: $container;
}