@import 'mo/style/common';

// =============== activityBar =============== //
#{$activityBar} {
    background-color: var(--activityBar-background);
    border-color: var(--activityBar-border);
    color: var(--activityBar-foreground);

    &__indicator {
        background: var(--activityBar-activeBorder);
    }

    &__item--checked {
        #{$activityBar}__label {
            background-color: var(--activityBar-activeBackground);
            border-color: var(--activityBar-activeFocusBorder);
            color: var(--activityBar-activeBorder);
        }
    }

    &__item {
        color: var(--activityBar-inactiveForeground);

        &:hover,
        &__label .codicon {
            background-color: var(--activityBar-activeBackground);
            border-color: var(--activityBar-activeBorder);
            color: var(--activityBar-activeBorder);
        }
    }
}
