@import 'mo/style/common';

// =============== Action Bar =============== //
#{$actionBar} {
    background-color: var(--listFilterWidget-background);
    color: var(--foreground);
    outline-color: var(--listFilterWidget-outline);

    &__item:hover {
        background: var(--toolbar-hoverBackground);
        outline-color: var(--toolbar-hoverOutline);
    }

    &__item:hover,
    &__item--checked {
        background-color: var(--toolbar-activeBackground);
    }
}
