@import 'mo/style/common';

// =============== Action Bar =============== //
#{$actionBar} {
    background-color: var(--listFilterWidget-background);
    color: var(--foreground);
    outline-color: var(--listFilterWidget-outline);

    &__item--checked {
        background-color: var(--actionBar-checkedBackground);
    }
}
