@import 'mo/style/common';

// =============== Collapse =============== //
@mixin border-color($color) {
    border: 1px solid $color;
}

#{prefix($collapse)} {
    background-color: var(--sideBar-background);
    color: var(--sideBar-foreground);

    .rc-collapse-header {
        background: var(--sidebarSectionHeader-background);
        border-top: 1px solid var(--sideBar-border);

        &:focus,
        &:active {
            border-color: var(--sideBar-border);
        }

        .rc-collapse-extra {
            #{prefix('action-bar')} {
                background: var(--sideBarSectionHeader-background);
            }
        }
    }
}
