@import 'mo/style/common';

// =============== Collapse =============== //
@mixin border-color($color) {
    border: 1px solid $color;
}

#{prefix($collapse)} {
    background-color: var(--sideBar-background);
    color: var(--sideBar-foreground);
}
