@import 'mo/style/common';

// Workbench parts
@import 'mo/style/theme/actionbar';
@import 'mo/style/theme/button';
@import 'mo/style/theme/checkbox';
@import 'mo/style/theme/collapse';
@import 'mo/style/theme/input';
@import 'mo/style/theme/list';
@import 'mo/style/theme/menu';
@import 'mo/style/theme/notification';
@import 'mo/style/theme/select';
@import 'mo/style/theme/tabs';
@import 'mo/style/theme/tree';

// Workbench
@import 'mo/style/theme/workbench';
@import 'mo/style/theme/statusbar';
@import 'mo/style/theme/settings';
@import 'mo/style/theme/sidebar';
@import 'mo/style/theme/panel';
@import 'mo/style/theme/menubar';
@import 'mo/style/theme/editor';
@import 'mo/style/theme/activitybar';
