@import 'mo/style/common';

// =============== Input =============== //
#{prefix($input)} {
    background-color: var(--input-background);
    border: 1px solid transparent;
    color: var(--input-foreground);

    &-textarea {
        &--show-count::after {
            color: var(--input-foreground);
        }
    }

    &--disabled {
        background-color: var(--input-background);
        color: var(--input-foreground);
        opacity: 1;
    }
}
