@import 'mo/style/common';

// =============== List =============== //
#{$list} {
    &__item {
        background-color: var(--list-dropBackground);
        color: var(--foreground);

        &--active {
            background-color: var(--list-focusBackground);
            color: var(--list-focusForeground);
        }

        &:hover {
            background-color: var(--list-hoverBackground);
            color: var(--list-hoverForeground);
        }
    }
}
