@import 'mo/style/common';

// =============== Tree =============== //
#{$search} {
    input {
        background-color: var(--list-activeSelectionBackground);
        border-width: 0;
        color: inherit;
    }

    &__treeNode--match {
        background-color: var(--search-matchValueBackground);
    }
}
