@import 'mo/style/common';

// =============== Select =============== //
#{$select} {
    &__container {
        background-color: var(--dropdown-background);
        color: var(--dropdown-foreground);
    }

    &__option {
        &:hover {
            background-color: var(--button-hoverBackground);
        }
    }

    &--active {
        border-color: var(--focusBorder);
    }

    &__descriptor {
        border-top-color: var(--dropdown-border);
    }
}
