@import 'mo/style/common';

// =============== Editor Tabs =============== //
#{$tabs} {
    background-color: var(--editorGroupHeader-tabsBackground);

    &--line {
        border-bottom: 1px solid var(--tab-border);
    }

    #{$tab} {
        &__item {
            background: var(--tab-inactiveBackground);
            border-right: 1px solid var(--tab-border);
            color: var(--tab-inactiveForeground);

            &__op {
                &__dot::after {
                    background: var(--tab-activeForeground);
                }
            }

            &--active {
                background: var(--tab-activeBackground);
                border-bottom-color: var(--tab-activeBorder);
                color: var(--tab-activeForeground);
            }

            &--close {
                color: var(--tab-activeForeground);
            }
        }
    }
}
