@import 'mo/style/common';

// =============== Tree =============== //
#{$rcTree} {
    .rc-tree-treenode:not(.rc-tree-treenode-selected) {
        &:hover {
            background-color: var(--list-hoverBackground);
            color: var(--list-hoverForeground);
        }
    }

    .rc-tree-treenode.drag-over > .draggable {
        background-color: var(--list-dropBackground);
        border-color: var(--list-activeSelectionForeground);
        color: var(--list-activeSelectionForeground);
    }

    .rc-tree-treenode.drag-over-gap-top > .draggable {
        border-color: var(--list-activeSelectionForeground);
    }

    .rc-tree-treenode.drag-over-gap-bottom > .draggable {
        border-color: var(--list-activeSelectionForeground);
    }

    .rc-tree-treenode-active {
        background-color: var(--list-activeSelectionBackground);
        color: var(--list-activeSelectionForeground);
    }

    .rc-tree-treenode-selected {
        background: var(--button-background);

        .rc-tree-node-content-wrapper {
            color: var(--list-activeSelectionForeground);
        }
    }

    input {
        background-color: var(--list-activeSelectionBackground);
        border-width: 0;
        color: inherit;
        outline: 1px solid var(--button-background);
    }
}
