@import 'mo/style/common';

// =============== Tree =============== //
#{$rcTree} {
    input {
        background-color: var(--list-activeSelectionBackground);
        border-width: 0;
        color: inherit;
        outline: 1px solid var(--button-background);
    }
}
