@import 'mo/style/common';

#{$tabs} {
    background-color: var(--editorGroupHeader-tabsBackground);
    height: 100%;
    position: relative;
    user-select: none;

    &--line {
        border-bottom: 1px solid var(--tab-border);
    }

    &__header {
        align-items: center;
        display: flex;
        flex-flow: row nowrap;
        height: 35px;
        justify-content: flex-start;
    }

    &__content {
        font-size: 13px;
        height: calc(100% - 36px);
        width: 100%;

        &__item {
            display: none;
            height: 100%;

            &--active {
                display: block;
            }
        }
    }
}

#{$tab} {
    &__item {
        align-items: center;
        background: var(--tab-inactiveBackground);
        border-right: 1px solid var(--tab-border);
        box-sizing: border-box;
        color: var(--tab-inactiveForeground);
        cursor: pointer;
        display: flex;
        flex-wrap: nowrap;
        height: 100%;
        min-width: fit-content;
        padding-left: 10px;
        position: relative;
        user-select: none;

        &__label {
            font-size: 0;

            &:not(&:empty) {
                padding-right: 6px;
            }
        }

        &:hover {
            #{$tab}__item__op {
                opacity: 1;
            }
        }

        &__status,
        &__op {
            font-size: 0;
        }

        &__op {
            color: var(--icon-foreground);
            margin-left: 10px;
            opacity: 0;
            transform: translateY(1px);
            width: 20px;

            &__close {
                cursor: pointer;
                display: block;
                font-weight: 500;
                height: 18px;
                width: 18px;
            }
        }

        &--active {
            background: var(--tab-activeBackground);
            border-bottom-color: var(--tab-activeBorder);
            color: var(--tab-activeForeground);

            #{$tab}__item__op {
                opacity: 1;
            }
        }

        &--close {
            color: var(--tab-activeForeground);
        }
    }
}
