@import 'mo/style/common';
$tabSwitcher: 'tab-switcher';

#{prefix($tabSwitcher)} {
    display: flex;
    flex-flow: row nowrap;
    height: 35px;
}

.tab-button {
    align-items: center;
    color: rgba(255, 255, 255, 0.6);
    cursor: pointer;
    display: inline-flex;
    height: 100%;
    padding: 0 14px;
    position: relative;
    user-select: none;
    width: 150px;

    &__name {
        font-size: 16px;
        margin-left: 10px;
    }

    &__op {
        align-items: center;
        display: inline-flex;
        line-height: 1;
        margin-left: 10px;
    }

    &__dot {
        display: block;
        height: 18px;
        position: relative;
        width: 18px;

        &::after {
            background-color: #fff;
            border-radius: 50%;
            content: '';
            display: block;
            height: 9px;
            left: 5px;
            position: relative;
            top: 5px;
            width: 9px;
        }
    }

    &__close {
        cursor: pointer;
        display: block;
        fill: rgba(255, 255, 255, 1);
        font-weight: 500;
        height: 18px;
        width: 18px;
    }

    &__svg {
        height: 100%;
        width: 100%;
    }

    &__placeholder {
        display: block;
        height: 18px;
        width: 18px;
    }

    .tab-button--active::after {
        bottom: 0;
        content: '';
        height: 1px;
        left: 0;
        position: absolute;
        width: 100%;
    }
}

.tab-item {
    display: none;
    height: 100%;

    .tab-item--active {
        display: block;
    }
}

.normal-items {
    margin-bottom: auto;
    overflow: hidden;
    overflow-y: auto;
}