@import 'mo/style/common';

#{$tabs} {
    height: 100%;
    height: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    position: relative;
    user-select: none;
    width: 100%;

    &__header {
        align-items: center;
        display: flex;
        flex-flow: row nowrap;
        height: 36px;
        justify-content: flex-start;
        overflow: hidden;
        overflow-x: inherit;
        overflow-y: hidden;
        width: 100%;
    }

    &__content {
        font-size: 13px;
        height: calc(100% - 36px);
        width: 100%;

        &__item {
            display: none;
            height: 100%;

            &--active {
                display: block;
            }
        }
    }
}

#{$tab} {
    &__item {
        align-items: center;
        box-sizing: border-box;
        cursor: pointer;
        display: flex;
        font-size: 13px;
        height: 100%;
        max-width: 300px;
        min-width: 40px;
        padding: 0 20px;
        position: relative;
        user-select: none;

        &__name {
            font-size: 16px;
            margin-left: 10px;
        }

        &__op {
            margin-left: 10px;
            width: 20px;

            &__dot {
                display: block;
                height: 18px;
                position: relative;
                width: 18px;

                &::after {
                    border-radius: 50%;
                    content: '';
                    display: block;
                    height: 9px;
                    left: 5px;
                    position: relative;
                    top: 5px;
                    width: 9px;
                }
            }

            &__close {
                cursor: pointer;
                display: block;
                font-weight: 500;
                height: 18px;
                width: 18px;
            }

            &__placeholder {
                display: block;
                height: 18px;
                width: 18px;
            }
        }
    }
}
