@import 'mo/style/common';

$border-color: rgba(115, 115, 115, 0.4);

#{prefix('welcome')} {
    background-color: var(--molecule-welcomeBackground);
    text-align: center;
    width: 100%;

    .logo {
        font-size: 120px;
        margin-top: 150px;
    }

    .title {
        color: #a2a2a2;
        font-family: GEETYPE-TakaLineGB-Flash-Heavy, GEETYPE-TakaLineGB-Flash,
            sans-serif;
        font-weight: 800;
        height: 24px;
        letter-spacing: 2.667px;
        line-height: 24px;
        margin: 32px auto 0;
        opacity: 0.48;
        user-select: none;
        width: 132px;
    }

    .keybindings {
        background-color: rgba(162, 162, 162, 0.11);
        border-top: 1px solid $border-color;
        box-sizing: border-box;
        display: inline-block;
        height: 148px;
        margin: 100px auto 0;
        min-width: 183px;
        padding: 24px;
        user-select: none;

        > ul {
            align-items: center;
            color: #b6b6b6;
            display: grid;
            font-size: 14px;
            grid-template-rows: repeat(3, 1fr);
            height: 100%;

            line-height: 20px;
            list-style: none;
            margin: 0;
            opacity: 0.6;
            padding: 0;
        }

        .keys {
            display: grid;
            grid-gap: 32px;
            grid-template-columns: 1fr minmax(47px, min-content);
            text-align: left;
        }
    }
}
