table {
    border-collapse: collapse;
    font-family: sfmono-regular, Consolas, liberation mono, Menlo, Courier,
        monospace;
    margin: 0 auto;
    text-align: center;
}

table td,
table th {
    border: 1px solid #ccc;
    color: #666;
    height: 30px;
}

table thead th {
    background-color: #f7f7f7;
    width: 100px;
}

table tbody {
    td:first-child {
        font-weight: bold;
    }

    td:nth-child(3) {
        color: #c41d7f;
    }
}
