@import '../../classNames/style.scss';

$container: prefix('tree');
$treeNode: BEMElement($container, 'treenode');
$indent: BEMElement($container, 'indent');
$guide: BEMElement($indent, 'guide');

$active: BEMModifier($treeNode, 'active');

$treenode-height: 22px;

.#{$container} {
    font-size: 13px;

    .#{$treeNode} {
        align-items: center;
        cursor: pointer;
        display: flex;
        height: $treenode-height;
        padding-left: 10px;
        user-select: none;

        &:hover {
            background-color: var(--list-hoverBackground);
            outline: 1px dashed var(--contrastActiveBorder);
            outline-offset: -1px;
        }

        &.#{$active} {
            background-color: var(--list-inactiveSelectionBackground);
        }

        &:focus {
            background-color: var(--list-activeSelectionBackground);
            color: #fff;
        }
    }

    .#{$indent} {
        display: flex;
        height: 100%;
        margin-right: 2px;

        .#{$guide} {
            border-left: 1px solid var(--tree-indentGuidesStroke);
            display: inline-block;
            height: 100%;
            margin-left: 7px;
        }
    }
}



:export {
    container: $container;
    treeNode: $treeNode;
    indent: $indent;
    guide: $guide;
    active: $active;
}