@import 'mo/style/common';

.#{$prefix} {
    background-color: var(--workbenchBackground);
    color: var(--foreground);

    *::selection {
        background-color: var(--editor-selectionBackground);
    }

    code {
        background: var(--textCodeBlock-background);
    }

    &.codicon {
        color: var(--icon-foreground);
    }
}

#{$workbench} {
    bottom: 0;
    height: calc(100% - 22px);
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;

    &--with-horizontal-menuBar {
        #{$mainBench} {
            height: calc(100% - 30px);
        }
    }

    &--with-hidden-statusBar {
        height: 100%;
    }

    &__display-activityBar {
        display: flex;
        flex: 1;
    }
}

#{$compositeBar} {
    border-right: 1px solid var(--activityBar-border);
    display: flex;
    flex-direction: column;
    min-height: 100%;
    width: auto;
}

#{$mainBench} {
    display: flex;
    flex-direction: row;
    height: 100%;
    left: 0;
    width: auto;

    // For SplitPane resizer
    div[data-type='Resizer'] {
        background: none;
    }

    .monaco-scrollable-element {
        /* stylelint-disable-next-line*/
        & > .scrollbar > .slider {
            background: var(--scrollbarSlider-activeBackground);
            /* stylelint-disable-next-line*/
            &:hover {
                background: var(--scrollbarSlider-hoverBackground);
            }
        }
    }
}
