@import 'mo/style/const.scss';

.#{$prefix}-menuBar {
    position: absolute;
    width: 48px;
    height: 35px;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    .left {
        left: 0;
        top: 0;
    }
}
