@import 'mo/style/common';

#{$menuBar} {
    align-items: center;
    background-color: var(--activityBar-background);
    color: var(--activityBar-inactiveForeground);
    cursor: pointer;
    display: flex;
    font-size: 13px;
    height: 35px;
    justify-content: center;
    width: 48px;

    #{$menu} {
        &__item {
            &:hover {
                background-color: var(--menubar-selectionBackground);
                border-color: var(--menubar-selectionBorder);
                color: var(--menubar-selectionForeground);
            }
        }
    }

    &--left {
        left: 0;
        top: 0;
    }

    &__action {
        font-size: 16px;
    }

    &--horizontal {
        align-items: center;
        display: flex;
        height: 25px;
        width: 100%;
        background: var(--activityBar-background);
        justify-content: center;

        & > #{$menu} {
            background: var(--activityBar-background);
            box-shadow: none;
            color: var(--foreground);

            &--horizontal {
                #{$menu}__item {
                    min-width: auto;
                }

                & > #{$menu}__item > #{$menu}__content {
                    & > #{$menu}__label {
                        flex: none;
                        padding: 0 1em;
                        font-size: 12px;
                    }

                    & > #{$menu}__indicator {
                        display: none;
                    }
                }
            }
        }

        #{$menu}:hover {
            background-color: auto !important;
            border-color: auto !important;
            color: auto !important;
        }

        &__logo {
            height: 20px;
            width: 20px;
            margin: 0 14px;
        }
    }
}
