@import '../../classNames/style.scss';

$panel: prefix('panel');
$header: BEMElement($panel, 'header');
$toolbar: BEMElement($panel, 'toolbar');
$content: BEMElement($panel, 'content');
$item: BEMElement($panel, 'item');

$active: BEMModifier($item, 'active');


$icon-size: 35px;

.#{$panel} {
    background-color: var(--panel-background);
    height: 100%;
    width: 100%;

    .#{$header} {
        border-top: 1px solid var(--panel-border);
        height: 35px;
    }

    .#{$item} {
        color: var(--panelTitle-inactiveForeground);
        font-size: 11px;
        margin: 0 10px;
        line-height: 35px;
        text-transform: uppercase;
        user-select: none;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 4px;
        white-space: nowrap;
        cursor: pointer;

        &:hover {
            color: var(--panelTitle-activeForeground);
        }

        &.#{$active} {
            color: var(--panelTitle-activeForeground);

            &::after {
                background-color: var(--panelTitle-activeBorder);
                bottom: 4px;
                content: " ";
                height: 1px;
                left: 0;
                position: absolute;
                width: 100%;
            }
        }
    }

    .#{$toolbar} {
        .codicon {
            height: $icon-size;
            line-height: $icon-size;
            margin-right: 4px;
            min-width: 28px;
        }
    }


    .#{$content} {
        outline: 1px solid transparent;
        outline-offset: -1px;
        height: calc(100% - 36px);
        width: 100%;

        &:focus {
            outline-color: var(--list-focusOutline);
        }
    }
}

:export {
    container: $panel;
    header: $header;
    toolbar: $toolbar;
    content: $content;
    item: $item;
    active: $active;
}