@import '@/style/const.scss';

.#{$prefix}-editor {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;

    .#{$prefix}-editor-group {
        position: relative;
        width: 100%;
        height: 100%;
    }

    .group-header {
        position: relative;

        .group-tabs {
            height: 35px;
        }
    }

    .group-container {
        height: auto;
        position: relative;
        bottom: 0;
        // top: 35px;
        left: 0;
        right: 0;
    }
}
