@import 'mo/style/common';
$editor: 'editor';

#{prefix($editor)} {
    display: flex;
    height: 100%;
    position: relative;
    width: 100%;

    .editor-group {
        height: 100%;
        position: relative;
        width: 100%;
    }

    .group-header {
        position: relative;
    }

    .group-tabs {
        height: 35px;
    }

    .group-breadcrumbs {
        height: 22px;
    }

    .group-container {
        bottom: 0;
        height: auto;
        left: 0;
        position: relative;
        right: 0;
        width: 100%;
    }
}
