@import 'mo/style/common';

#{$editor} {
    display: flex;
    height: 100%;
    position: relative;
    width: 100%;

    &__group {
        height: 100%;
        position: relative;
        width: 100%;
    }

    &__group-container {
        bottom: 0;
        left: 0;
        position: absolute;
        right: 0;
        top: 57px;
    }

    &__group-header {
        position: relative;
    }

    &__group-tabs {
        height: 35px;
    }

    &__group-breadcrumbs {
        height: 22px;
    }
}
