@import 'mo/style/common';

#{$editor} {
    background: var(--editorGroup-background);
    display: flex;
    height: 100%;
    position: relative;
    width: 100%;

    &__group-breadcrumb,
    &__group-container {
        background-color: var(--editor-background);
        color: var(--editor-foreground);
    }

    &__group {
        height: 100%;
        position: relative;
        width: 100%;
    }

    &__group-container {
        bottom: 0;
        left: 0;
        position: absolute;
        right: 0;
        top: 57px;
    }

    &__group-header {
        background: var(--editorGroupHeader-tabsBackground);
        border-bottom: 1px solid var(--editorGroupHeader-tabsBorder);
        display: flex;
        position: relative;
    }

    &__group-tabs {
        flex-grow: 1;
        height: 35px;

        #{$tab}__item--active {
            border-top: 1px solid var(--tab-activeBorder);
        }
    }

    &__group-actions {
        display: flex;

        &-item {
            align-items: center;
            color: var(--icon-foreground);
            cursor: pointer;
            display: flex;
            height: 35px;
            justify-content: center;
            padding: 0 8px 0 4px;

            &--disabled {
                cursor: default;
                opacity: 0.4;
            }
        }
    }

    &__group-breadcrumb {
        height: 22px;
        line-height: 22px;
        padding-left: 20px;
    }

    #{prefix($tabSwitcher)} {
        .tab-button {
            &--active {
                background-color: var(--tab-activeBackground);
                color: var(--tab-activeForeground);
            }
        }
    }
}
