@import '../../classNames/style.scss';

$container: prefix('editor');

.#{$container} {
    background: var(--editor-background);
    display: flex;
    height: 100%;
    position: relative;
    width: 100%;
}

:export {
    container: $container;
}