@import '../../classNames/style.scss';

$menuBar: prefix('menuBar');
$container: BEMElement($menuBar, 'container');
$item: BEMElement($menuBar, 'item');

.#{$container} {
    align-items: center;
    background-color: var(--activityBar-background);
    display: flex;
    align-items: center;
    width: 100%;

    .#{$item} {
        font-size: 13px;
        padding: 0 1em;
        height: 30px;
        line-height: 30px;
        cursor: pointer;
        user-select: none;

        &:hover {
            background-color: var(--menu-selectionBackground);
            color: var(--button-foreground);
        }
    }
}

:export {
    container: $container;
    item: $item;
}