@import 'mo/style/common';

#{$collapse} {
    font-size: 13px;

    &__content--padding {
        padding: 10px;
    }

    #{$rcCollapse} {
        background-color: inherit;

        &-anim-active {
            transition: height 0.2s ease-out;
        }

        &-item {
            border-top: 0;
            color: #bbb;

            &:last-child {
                #{$rcCollapse}-content {
                    border-radius: 0 0 3px 3px;
                }
            }
        }

        &-header {
            align-items: center;
            background: #333;
            cursor: pointer;
            display: flex;
            font-weight: bold;
            height: 22px;
            outline: none;
            padding: 1px 5px;

            &-collapsable-only {
                cursor: default;
            }

            &-text {
                cursor: pointer;
            }
        }

        &-extra {
            margin: 0 0 0 auto;

            #{$actionBar}__label.codicon {
                height: inherit;
                line-height: inherit;
            }
        }

        &-content {
            overflow: auto;

            &-box {
                font-size: 12px;
                margin-bottom: 8px;
            }

            &-inactive {
                display: none;
            }
        }

    }
}
