@import 'mo/style/common';

$collapse__extra: #{$collapse}__extra;

#{$collapse} {
    height: 100%;
    position: relative;

    .pane {
        transition: all ease-in-out 0.3s;
    }

    &__item {
        height: 100%;
        overflow: hidden;
        width: 100%;

        &:hover {
            #{$collapse__extra} {
                opacity: 1;
            }
        }
    }

    &__header {
        align-items: center;
        border-top: 1px solid var(--sideBarSectionHeader-border);
        box-sizing: border-box;
        cursor: pointer;
        display: flex;
        font-size: 11px;
        font-weight: 700;
        height: 22px;
        outline-color: transparent;
        outline-offset: -1px;
        outline-style: solid;
        outline-width: 1px;
        overflow: hidden;
        text-transform: uppercase;
        user-select: none;

        &:focus {
            outline-color: var(--list-focusOutline);

            #{$collapse__extra} {
                opacity: 1;
            }
        }
    }

    &__extra {
        margin: 0 0 0 auto;
        opacity: 0;

        #{$actionBar}__label.codicon {
            height: inherit;
            line-height: inherit;
        }
    }

    &__content {
        max-height: 0;
        outline-color: transparent;
        outline-offset: -1px;
        outline-style: solid;
        outline-width: 1px;
        transition: max-height ease-in-out 0.3s;

        &:not(:empty) {
            height: calc(100% - 22px);
            padding: 1px;
        }

        &:focus {
            outline-color: var(--list-focusOutline);
        }

        &.active {
            max-height: 100vh;
        }
    }
}
