@import 'mo/style/common';

#{$workbench} {
    bottom: 0;
    left: 0;
    padding-bottom: 22px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
}

#{$mainBench} {
    bottom: 22px;
    height: auto;
    left: 48px;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;

    /* stylelint-disable */
    .Resizer {
        background-clip: padding;
        background-clip: padding;
        background-clip: padding-box;
        box-sizing: border-box;
        box-sizing: border-box;
        box-sizing: border-box;
        opacity: 0.2;
        z-index: 1;
    }

    .Resizer:hover {
        transition: all 2s ease;
        transition: all 2s ease;
    }

    .Resizer.horizontal {
        border-bottom: 5px solid transparent;
        border-top: 5px solid transparent;
        cursor: row-resize;
        height: 11px;
        margin: -5px 0;
        width: 100%;
    }

    .Resizer.horizontal:hover {
        border-bottom: 5px solid transparent;
        border-top: 5px solid transparent;
    }

    .Resizer.vertical {
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        cursor: col-resize;
        margin: 0 -5px;
        width: 11px;
    }

    .Resizer.disabled {
        cursor: not-allowed;
    }

    .Resizer.disabled:hover {
        border-color: transparent;
    }
}
