@import 'mo/style/common';

#{$workbench} {
    bottom: 0;
    height: calc(100% - 22px);
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
}

#{$compositeBar} {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    width: auto;
}

#{$mainBench} {
    display: flex;
    flex-direction: row;
    height: 100%;
    left: 0;
    width: auto;

    // For SplitPane resizer
    div[data-type='Resizer'] {
        background: none;
    }

    .monaco-scrollable-element {
        /* stylelint-disable-next-line*/
        & > .scrollbar > .slider {
            background: var(--scrollbarSlider-activeBackground);
            /* stylelint-disable-next-line*/
            &:hover {
                background: var(--scrollbarSlider-hoverBackground);
            }
        }
    }
}
