/* TODO: remove me since producing */

:root {
    --workbenchBackground: #252526;
    --foreground: #cccccc;
    --widget-shadow: rgba(0, 0, 0, 0.36);
    --errorForeground: #f48771;
    --menu-border: #454545;
    --descriptionForeground: rgba(204, 204, 204, 0.7);
    --icon-foreground: #c5c5c5;
    --focusBorder: #007fd4;
    --textSeparator-foreground: #ffffff2e;
    --textLink-foreground: #3794ff;
    --textLink-activeForeground: #3794ff;
    --textBlockQuote-background: #7f7f7f1a;
    --textBlockQuote-border: #007acc80;
    --textCodeBlock-background: #0a0a0a66;
    --input-background: #3c3c3c;
    --input-foreground: #cccccc;
    --inputOption-activeBorder: #007acc00;
    --inputOption-activeBackground: #007fd466;
    --input-placeholderForeground: #a6a6a6;
    --dropdown-background: #3c3c3c;
    --dropdown-foreground: #f0f0f0;
    --dropdown-border: #cecece;
    --checkbox-border: #cecece;
    --button-background: #0e639c;
    --button-foreground: #ffffff;
    --badge-background: #4d4d4d;
    --badge-foreground: #ffffff;
    --scrollbar-shadow: #000000;
    --scrollbarSlider-background: #797979b3;
    --scrollbarSlider-hoverBackground: #646464b3;
    --scrollbarSlider-activeBackground: #bfbfbf66;
    --progressBar-background: #0e70c0;
    --editorError-background: #f48771;
    --editorWarning-foreground: #cca700;
    --editorInfo-foreground: #75beff;
    --editorHint-foreground: rgba(238, 238, 238, 0.7);
    --editor-background: #1e1e1e;
    --editor-foreground: #d4d4d4;
    --editor-selectionBackground: #264f78;
    --editor-selectionForeground: #000000;
    --list-dropBackground: #383b3d;
    --list-hoverBackground: #2a2d2e;
    --list-activeSelectionBackground: #094771;
    --list-activeSelectionForeground: #ffffff;
    --menu-foreground: #cccccc;
    --menu-background: #252526;
    --menu-separatorBackground: #bbbbbb;
    --panel-background: rgb(30, 30, 30);
    --panel-border: #3c3c3c;
    --panelTitle-activeBorder: rgb(231, 231, 231);
    --panelTitle-activeForeground: #e7e7e7;
    --activityBar-background: rgb(51, 51, 51);
    --activityBar-activeBorder: #fff;
    --activityBar-foreground: #fff;
    --statusBar-background: rgb(0, 122, 204);
    --statusBar-foreground: rgb(255, 255, 255);
    --activityBar-inactiveForeground: #ffffff66;
    --activityBarBadge-background: #007acc;
    --diffEditor-insertedTextBackground: #9bb95533;
    --diffEditor-removedTextBackground: #ff000033;
    --editor-findMatchHighlightBackground: #ea5c0055;
    --editor-inactiveSelectionBackground: #3a3d41;
    --editor-selectionHighlightBackground: #add6ff26;
    --editorGroupHeader-tabsBackground: #252526;
    --editorIndentGuide-activeBackground: #707070;
    --editorIndentGuide-background: #404040;
    --inputValidation-errorBackground: #5a1d1d;
    --inputValidation-errorBorder: #be1100;
    --inputValidation-infoBackground: #063b49;
    --inputValidation-infoBorder: #007acc;
    --inputValidation-warningBackground: #352a05;
    --inputValidation-warningBorder: #b89500;
    --list-focusOutline: #007fd4;
    --list-inactiveSelectionBackground: #37373d;
    --menu-selectionBackground: #094771;
    --minimapSlider-activeBackground: #bfbfbf66;
    --minimapSlider-background: #79797980;
    --minimapSlider-hoverBackground: #64646480;
    --molecule-welcomeBackground: #393939;
    --panelTitle-inactiveForeground: #e7e7e799;
    --problemsErrorIcon-foreground: #f48771;
    --problemsInfoIcon-foreground: #75beff;
    --problemsWarningIcon-foreground: #cca700;
    --sash-hoverBorder: #007fd4;
    --settings-numberInputBackground: #292929;
    --settings-textInputBackground: #292929;
    --sideBarSectionHeader-background: #0000;
    --sideBarSectionHeader-border: #ccc3;
    --sideBarTitle-foreground: #bbbbbb;
    --statusBarItem-remoteBackground: #16825d;
    --statusBarItem-remoteForeground: #fff;
    --tab-activeBackground: #1e1e1e;
    --tab-activeForeground: #fff;
    --tab-border: #252526;
    --tab-inactiveBackground: #2d2d2d;
    --tab-inactiveForeground: #ffffff80;
    --tree-indentGuidesStroke: #585858;
    --editorError-foreground: #f14c4c;
    --terminal-ansiBlue: #3f87ff;
    --notifications-background: #252526;
    --minimap-background: #1e1e1e;
    --button-hoverBackground: #1177bb;
}
