@import '@/style/const.scss';

.#{$prefix}-#{$activityBar} {
    position: absolute;
    width: 48px;
    bottom: 22px;
    left: 0;
    top: 35px;
    z-index: 1;

    .#{$activityBar}-item {
        width: 48px;
        height: 48px;
        z-index: 1;
        display: flex;
        position: relative;
        margin-bottom: 4px;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: transform 50ms ease;

        .codicon {
            font-size: 24px;
            align-items: center;
            justify-content: center;
        }

        .item-label {
            position: relative;
            z-index: 1;
            display: flex;
            overflow: hidden;
            height: 48px;
            margin-right: 0;
            box-sizing: border-box;
        }
    }

    .#{$activityBar}-container {
        padding: 0;
        margin: 0;
        position: relative;
        height: 100%;
        width: 100%;
    }

    .active-item-indicator {
        top: 0;
        height: 100%;
        width: 2px;
        left: 0;
        position: absolute;
    }
}
