@import '@/style/const.scss';

$activityBar: 'activityBar';

.#{$prefix}-#{$activityBar} {
    position: absolute;
    width: 48px;
    height: 100%;
    z-index: 1;
    // TODO temp style, just for development
    background-color: rgb(51, 51, 51);
}

.#{$activityBar}-item {
    position: relative;
    width: 48px;
    height: 48px;
    z-index: 1;
    display: flex;
}
