@import 'mo/style/common';
$activityBar: prefix('activityBar');

#{$activityBar} {
    bottom: 22px;
    left: 0;
    position: absolute;
    top: 35px;
    width: 48px;
    z-index: 1;

    &__container {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-between;
        position: relative;
        width: 100%;

        ul {
            margin: 0;
            padding: 0;
        }
    }

    &__normal {
        margin-bottom: auto;
        overflow: hidden;
        overflow-y: auto;
    }

    &__item {
        align-items: center;
        cursor: pointer;
        display: flex;
        height: 48px;
        justify-content: center;
        margin-bottom: 4px;
        position: relative;
        transition: transform 50ms ease;
        width: 48px;
        z-index: 1;
    }

    &__label {
        box-sizing: border-box;
        display: flex;
        height: 48px;
        margin-right: 0;
        overflow: hidden;
        position: relative;
        z-index: 1;

        &.codicon {
            align-items: center;
            display: flex;
            font-size: 24px;
            justify-content: center;
        }
    }

    &__indicator {
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 1px;
    }
}
