@import 'mo/style/common';

#{$activityBar} {
    background-color: var(--activityBar-background);
    border-color: var(--activityBar-border);
    color: var(--activityBar-foreground);
    width: 48px;

    &__container {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-between;
        position: relative;
        width: 100%;

        ul {
            margin: 0;
            padding: 0;
        }
    }

    &__normal {
        height: calc(100vh - 57px);
        margin-bottom: auto;
        overflow: hidden;
    }

    &__item {
        align-items: center;
        color: var(--activityBar-inactiveForeground);
        cursor: pointer;
        display: flex;
        height: 48px;
        justify-content: center;
        position: relative;
        transition: transform 50ms ease;
        width: 48px;
        z-index: 1;

        &:hover,
        &__label {
            background-color: var(--activityBar-activeBackground);
            border-color: var(--activityBar-activeBorder);
            color: var(--activityBar-activeBorder);
        }

        &--disabled {
            cursor: default;
            opacity: 0.4;
            pointer-events: none;
        }

        &--checked {
            color: var(--activityBar-activeBorder);
        }
    }

    &__label {
        box-sizing: border-box;
        color: inherit;
        display: flex;
        height: 48px;
        margin-right: 0;
        overflow: hidden;
        position: relative;
        z-index: 1;

        &.codicon {
            align-items: center;
            color: inherit;
            display: flex;
            font-size: 24px;
            justify-content: center;
        }
    }

    &__indicator {
        background: var(--activityBar-activeBorder);
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 2px;
    }
}
