// TODO Refactor the class name to camel style
$prefix: 'mo';

// Component parts below
@function prefix($name) {
    @return '.' + $prefix + '-' + $name;
}

// The Naming of BEM Element
@function bem-ele($block, $element) {
    @return $block + '__' + $element;
}

// The Naming of BEM Modifier
@function bem-mod($blockOrElement, $modifier) {
    @return $blockOrElement + '--' + $modifier;
}

.#{$prefix} {
    bottom: 0;
    font-size: 13px;
    height: 100%;
    left: 0;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    user-select: none;
    width: 100%;
}

.mac {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}

.center {
    text-align: center;
}
