@import 'mo/style/common';
@import 'mo/style/theme/index';
@import 'mo/style/animation';

// ============= The Workbench parts =============
@import 'mo/components/actionBar/style';
@import 'mo/components/breadcrumb/style';
@import 'mo/components/button/style';
@import 'mo/components/checkbox/style';
@import 'mo/components/collapse/style';
@import 'mo/components/contextView/style';
@import 'mo/components/dialog/style';
@import 'mo/components/dropdown/style';
@import 'mo/components/input/style';
@import 'mo/components/list/style';
@import 'mo/components/menu/style';
@import 'mo/components/scrollable/style';
@import 'mo/components/select/style';
@import 'mo/components/tabs/style';
@import 'mo/components/toolbar/style';
@import 'mo/components/tree/style';
@import 'mo/components/search/style';
@import 'mo/components/tooltip/style';

// ============= The Workbench core component =============
@import 'mo/workbench/style';
@import 'mo/workbench/activityBar/style';
@import 'mo/workbench/editor/style';
@import 'mo/workbench/editor/welcome/style';
@import 'mo/workbench/menuBar/style';
@import 'mo/workbench/panel/style';
@import 'mo/workbench/settings/style';
@import 'mo/workbench/sidebar/style';
@import 'mo/workbench/statusBar/style';
@import 'mo/workbench/notification/style';
@import 'mo/workbench/sidebar/explore/style';
@import 'mo/workbench/problems/style';

.#{$prefix} {
    bottom: 0;
    box-sizing: border-box;
    font-size: 13px;
    height: 100%;
    left: 0;
    margin: 0;
    outline: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    user-select: none;
    width: 100%;
}

.mac {
    font-family: -apple-system, BlinkMacSystemFont, system-ui, sans-serif;
}

.center {
    text-align: center;
}
