@import 'mo/style/common';

#{$search} {
    display: grid;
    font-size: 13px;
    grid-gap: 2px;
    grid-template-columns: 16px auto;
    margin: 6px 12px 0 2px;

    &__replace {
        // toggle button
        &__button {
            box-sizing: border-box;
            color: inherit;
            cursor: pointer;
            height: 100%;
            transition: background 0.3s;

            &.codicon {
                align-items: center;
                display: flex;
            }

            &:hover {
                background: var(--input-background);
            }
        }
    }

    input {
        box-sizing: border-box;
        font-size: inherit;
        height: 23px;
        padding: 3px;
        padding-right: 4px;
        text-indent: 4px;
        width: 100%;
    }

    &__toolbar {
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;

        #{$actionBar} {
            &__label {
                opacity: 0.7;
                transition: opacity 0.3s;

                &:hover {
                    opacity: 1;
                }
            }
        }
    }

    &__input {
        position: relative;
    }

    &__group &__input + &__input {
        margin-top: 5px;
    }
}
