@import 'mo/style/common';

#{$search} {
    color: inherit;
    font-size: 13px;
    margin: 6px 12px 0 2px;
    position: relative;
    width: auto;

    input {
        box-sizing: border-box;
        font-size: inherit;
        height: 23px;
        padding: 3px;
        padding-right: 4px;
        text-indent: 4px;
        width: 100%;
    }

    &__toolbar {
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;
        #{$actionBar}__label {
            height: auto;

            &.codicon {
                color: inherit;
                line-height: 23px;
            }
        }
    }

    &__target {
        margin-left: 18px;
        position: relative;

        > input {
            padding-right: 96px;
        }
    }

    &__replace {
        margin-left: 18px;
        margin-top: 6px;
        position: relative;

        > input {
            padding-right: 64px;
        }

        &__button {
            align-items: center;
            background-position: 50%;
            background-repeat: no-repeat;
            box-sizing: border-box;
            color: inherit;
            cursor: pointer;
            display: flex !important;
            height: 100%;
            justify-content: center;
            left: 0;
            position: absolute;
            top: 0;
            width: 16px;
        }
    }
}
