@import 'mo/style/const';

.#{$prefix}-#{$sidebar} {
    height: 100%;
    left: 0;
    position: relative;
    width: 100%;
}

.#{$prefix}-#{$sidebar} .#{$sidebar}-pane {
    height: 100%;
    position: relative;
    width: 100%;

    .pane-header {
        align-items: center;
        box-sizing: border-box;
        display: flex;
        height: 35px;
        overflow: hidden;
        padding-left: 8px;
        padding-right: 8px;
        position: relative;
    }

    .pane-title {
        line-height: 35px;
        overflow: hidden;
        padding-left: 12px;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    h2 {
        cursor: default;
        font-size: 11px;
        font-weight: normal;
        margin: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        text-transform: uppercase;
        white-space: nowrap;
    }

    .pane-content {
        bottom: 0;
        left: 0;
        position: relative;
        right: 0;
        top: 0;
    }

    .pane-toolbar {
        flex: 1;
        padding-left: 5px;
    }
}
