@import "../../classNames/style.scss";

$editor: prefix("editor");
$group: BEMElement($editor, 'group');
$header: BEMElement($group, 'header');
$tab: BEMElement($group, 'tab');
$content: BEMElement($group, 'content');
$breadcrumb: BEMElement($group, 'breadcrumb');
$extra: BEMElement($group, 'extra');

$active: BEMModifier($tab, 'active');
$coveredTab: BEMModifier($tab, 'coveredTab');
$activeExtra: BEMModifier($extra, 'active');

.#{$group} {
    height: 100%;
    position: relative;
    width: 100%;

    .#{$header} {
        background: var(--editorGroupHeader-tabsBackground);
        border-bottom: 1px solid var(--editorGroupHeader-tabsBorder);
        position: relative;
        height: 35px;
    }

    .#{$breadcrumb} {
        background-color: var(--editor-background);
        color: var(--editor-foreground);
        height: 22px;
        line-height: 22px;
        padding-left: 20px;
        font-size: 12px;
    }

    .#{$content} {
        height: calc(100% - 57px);
    }

    .#{$tab} {
        align-items: center;
        background: var(--tab-inactiveBackground);
        border-right: 1px solid var(--tab-border);
        box-sizing: border-box;
        color: var(--tab-inactiveForeground);
        cursor: pointer;
        display: flex;
        gap: 4px;
        flex-wrap: nowrap;
        height: 100%;
        min-width: fit-content;
        padding: 0 10px;
        position: relative;
        user-select: none;
        font-size: 13px;

        .#{$extra} {
            opacity: 0;

            &.#{$activeExtra} {
                opacity: 1;
            }
        }

        &.#{$active} {
            background: var(--tab-activeBackground);
            border-bottom-color: var(--tab-activeBorder);
            color: var(--tab-activeForeground);

            .#{$extra} {
                opacity: 1;
            }
        }
        &.#{$coveredTab} {
            background: var(--tab-coveredBackground);
            color: var(--tab-coveredForeground);
            border-right-color: var(--tab-coveredBorder);
        }

        &:hover {
            background: var(--tab-hoverBackground);

            .#{$extra} {
                opacity: 1;
            }
        }
    }
}

:export {
    group: $group;
    header: $header;
    tab: $tab;
    breadcrumb: $breadcrumb;
    content: $content;
    extra: $extra;
    active: $active;
    activeExtra: $activeExtra;
    coveredTab: $coveredTab,
}
