@import '../../classNames/style.scss';

$bell: prefix('bell');

.#{$bell} {
    height: 100%;
    position: relative;

    &::before {
        vertical-align: sub;
    }
}

:export {
    bell: $bell;
}