@import 'mo/style/common';

$switch: #{$rcTree}-switcher;

#{$tree} {
    font-size: 13px;

    #{$rcTree} {
        border: 1px solid transparent;
        margin: 0;

        &-treenode {
            cursor: pointer;
            height: 22px;
            line-height: 22px;
            list-style: none;
            margin: 0;
            outline: 0;
            padding: 0 0 0 8px;
            white-space: nowrap;

            .draggable {
                /* Required to make elements draggable in old WebKit */
                -khtml-user-drag: element;
                -webkit-user-drag: element;
                user-select: none;
            }

            ul {
                margin: 0;
                padding: 0 0 0 18px;
            }
            span#{$switch} {
                background-attachment: scroll;
                background-color: transparent;
                background-repeat: no-repeat;
                border: 0 none;
                cursor: pointer;
                display: inline-block;
                height: 16px;
                line-height: 16px;
                margin-right: 2px;
                outline: none;
                vertical-align: middle;
                width: 16px;

                &-noop {
                    cursor: auto;
                    display: none;
                }

                &_open {
                    margin-top: -2px;
                    transform: rotate(90deg);
                }
            }

            &-disabled {
                > span:not(#{$switch}),
                > a > a span {
                    color: #767676;
                    cursor: not-allowed;
                }
            }
        }

        &-node-content-wrapper {
            cursor: pointer;
            display: inline-block;
            height: 22px;
            margin: 0;
            text-decoration: none;
            vertical-align: top;
        }

        &-child {
            &-tree {
                display: none;

                &-open {
                    display: block;
                }
            }
        }

        &-icon {
            &__open {
                background-position: -110px -16px;
                margin-right: 2px;
                vertical-align: top;
            }

            &__close,
            &__docu,
            &__customize {
                margin-right: 2px;
                vertical-align: top;
            }

            &__customize {
                background-image: none;

                .codicon {
                    margin-top: 4px;
                    transform: scale(0.8);
                }
            }
        }

        &-indent-unit {
            display: inline-block;
            padding-left: 7px;
            width: 0;
        }
    }
}
