@import 'mo/style/common';

#{$name} {
    border: 0;
    outline: 0;
    position: absolute;
    width: initial;
    z-index: 2500;

    &__block {
        bottom: 0;
        height: 100%;
        left: 0;
        opacity: 0;
        position: fixed;
        right: 0;
        top: 0;
        width: 100%;
        z-index: -1;
    }

    &__content {
        overflow: hidden;
    }

    &--shadow {
        box-shadow: var(--widget-shadow) 0 2px 4px;
    }
}
