$prefix-cls: 'summary-story';

.story-wrapper {
    font-size: 14px;
    padding: 0 40px;
}

.story-text-mark {
    mark {
        background: #ff0;
        padding: 0;
    }
}


.#{$prefix-cls} {
    h1 {
        span {
            font-size: 35px;
        }

        a {
            color: #444;
            margin-left: 15px;
        }
    }
    p.#{$prefix-cls}_version {
        color: #31c27c;
    }
}
